# IntelliJ files
.idea/

# Datasets
db/
libs/

# Build files
*.pyc
bin/
build/
out/
target/

# Third-party code
vendor/

# OS configuration files
Desktop.ini
.DS_STORE
Icon

# Debug files
request.json
*.png
*.jpg